/* css stylings to default component display to none */
#settings-modal {
    display: none;
}

div.settings-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    overflow: auto;
    background-color: #000;
    opacity: 0.75;
}

body.settings-page-open {
    overflow: hidden;
}