:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav#taskBar
{
  display:flex;
  border-radius: 20px;
  height: 100px;
  max-width: 69.125rem;
  width: 69.125rem;
  min-width: 60rem;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  background-color: #39C0ED;
}

nav#taskBar button.taskBtn {
  color: #FBFBFB;
  max-width: 33%;
  width: 23.04rem;
  min-width: 23;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

nav#taskBar button.taskBtn:nth-child(1) {
  border-bottom-right-radius:0;
  border-top-right-radius:0;
}

nav#taskBar button.taskBtn:nth-child(2) {
  border-radius: 0;
}

nav#taskBar button.taskBtn:nth-child(3) {
  border-bottom-left-radius:0;
  border-top-left-radius:0;
}

nav#taskBar button.taskBtn:hover {
  background-color: #00B0FF;
  cursor: pointer;
  transition: linear .2s;
}
