<div class="info-box">
   <div class="info-box-container">
      <h3 class="info-box-header">Keyboard Shortcuts</h3>
      <ul id="shortcut-list">
       <li><strong>SPACE</strong>    Start or Stop the timer</li>
       <li><strong>ALT + P</strong>  Pomodoro</li>
       <li><strong>ALT + S</strong>  Short Break</li>
       <li><strong>ALT + L</strong>  Long Break</li>
       <li><strong>ALT + R</strong>  Reset Timer</li>
      </ul>
   </div>
</div>

<div class="info-box">
   <div class="info-box-container">
      <h3>Notifications</h3>
      <p>You can change the audio tone and volume via Settings</p>
      <p>Desktop Notifications are currently supported in Chrome, Firefox and Safari</p>
      <button id="alert-permission-button">Enable Desktop Alerts</button>
   </div>
</div>

<div class="info-box">
   <div class="info-box-container">
      <h3>Settings</h3>

   </div>

</div>