:host {
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    margin-top: 3rem;

    --dark-bg-info-container-color: #1B1B1B;
    --dark-bg-shortcut-strong-color:#00695c;
    --dark-bg-alert-permission-btn-bg-color: #512da8;
}

div#info-container {
    width: 58.75rem;
    min-width: 48.74rem;
    max-width: 100%;
    height: calc(10rem + 3rem);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

div.info-box {
    width: 33.33%;
    border-radius: 20px;
    font-size: .875rem;
    padding: 0 1rem;
    position: relative;
    min-width: 1px;
}

h3.info-box-header {
    margin-bottom: .33rem;
}

ul#shortcut-list {
    margin-left: 1rem;
    list-style-position: outside;
    line-height: 1.6;
}
ul#shortcut-list strong{
    color: #212121;
}

div.info-box-container
{
    background-color: #EEEEEE;
    padding: 1.4rem;
    margin-bottom: 1.4rem;
}

button#alert-permission-button {
    border: none;
    background-color: #39c0ED;
    color: #FBFBFB;
    height: 2rem;
    padding: .4rem;
    margin-top: 1rem;
    border-radius: 10px;
}

button#alert-permission-button:hover {
   cursor: pointer; 
}

@media (prefers-color-scheme: dark) {

    div.info-box-container {
        background-color: var(--dark-bg-info-container-color);
        color: var(--dark-bg-text-color);
    }

    ul#shortcut-list strong{
        color: var(--dark-bg-shortcut-strong-color);
    }
    
    button#alert-permission-button {
        background-color: var(--dark-bg-alert-permission-btn-bg-color);
        color: var(--dark-bg-text-color);
    }
}