:host {
  height: 100vh;
  width: 100vw;
  --dark-bg-button-settings-btn-color: #37474F;
  --dark-bg-button-settings-btn-hover-color: #3F535D;
}

header
{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0;
}

button#settingsBtn
{
  width: 14.375rem;
  min-width: 12rem;
  height: 55px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  background-color: #616161;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  color: #FBFBFB;
}


button#settingsbtn:hover
{
  background-color: #424242;
  transition: linear .2s;
  cursor: pointer;
}

main#container
{
  display: flex;
  width: 100%;
  height: inherit;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  button#settingsBtn {
    color: var(--dark-bg-text-color);
    background-color: var(--dark-bg-button-settings-btn-color);
  }
  
  button#settingsBtn:hover
  {
    background-color: var(--dark-bg-button-settings-btn-hover-color);
    transition: linear .2s;
    cursor: pointer;
  }


}