div#settings-option-container {
  background-color: #FFF;
  width: 40.625rem;
  height: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 1rem;
}
div#preference-settings-container {
  display: flex;
  flex-direction: column;
  padding: .3125rem 0;
}

input.preference-input {
  margin-right: .3125rem;
  margin-bottom: 1rem;
}

body.settings-page-open {
  overflow: hidden;
}

h2.settings-header {
  margin: .5rem 0;
}

label.timer-setting-labels {
  margin-right: .3125rem;
}

div#timer-settings-inner-container {
  display: flex;
}

input.timer-setting {
  height: 2rem;
  margin-right: 30%;
  border: solid 1px #ccc;
}

select {
  width: 100%;
  min-width: 75px;
  padding: 5px 0;
}

div#settings-button-container {
  display: flex;
  margin-top: 1rem;
}

button.settings-button {
  border: none;
  width: 5rem;
  margin-right: .3125rem;
  height: 2rem;
  background-color: #39C0ED;
  color: #FFF;
  border-radius: .5rem;
}

button.settings-button:hover {
  background-color: #00B0FF;
  cursor: pointer;
  transition: linear .2s;
}